<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNel6CvybWLbj8K4tePp9FcCxyX29ae6g</string>
	<key>GCM_SENDER_ID</key>
	<string>336145846798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappMessenger</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-aae5b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-aae5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336145846798:ios:9e60f4026279cb9e7fe25f</string>
</dict>
</plist>